.container {
  margin-bottom: 5em;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_links {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.project_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_link p {
  margin-right: 1em;
}

.project_text {
  max-width: 90vh;
}

.container img {
  height: 60vh;
  width: 50vw;
}

@media only screen and (max-width: 768px) {
  .container img {
    height: 45vh;
    width: 75vh;
  }
}
