.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #3e3433;
  padding: 0.5em 2em;
  margin-bottom: 1em;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #3e3433;
  color: #fff;
}
