.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;

}

.cover img {
  height: 45vh;
  width: 75vh;
}

.cover a {
  margin-top: 2em;
  background-color: transparent;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 25px;
  transition: 0.4s;
}

.cover a:hover {
  background-color: #3e3433;
  color: #bbb;
}
