body {
  margin: 0;
  padding: 0;
  background-color: #b29a78;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover,
nav button:hover {
  color: #bbb;
}

.btn-redirect {
  padding: 0.5em 1em;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #3e3433;
  color: #fff;
}

img {
  border-radius: 25px;
  box-shadow: 0.625em 0.625em 0.625em 0.3125em #3e3433;
}

/* paleta de cores
#3e3433
#f07f83
#b29a78 body
#9eaf83
#75a480
*/
